.image_container {
    display: flex;
    flex-direction: column; 
    background-image: url(https://m.bunjang.co.kr/pc-static/resource/a1e291652e1468ee9afd.png);
    background-color: rgb(181, 181, 181);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    width: 310px;
    height: 310px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.profile_image {
    margin-bottom: 30px;
}
.name_rating {
    color: white;
    font-weight: bold;
}
.rating {
    margin: 10px 0 10px 0;
}
.shop_info_setting {
    border: 1px solid white;
    color: white;
    padding: 10px 10px;
}